# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/.next-e2e/
/out/

# production
/build

# debug
npm-debug.log*

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# misc
.DS_Store
*.pem
/docs
